@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
        <!-- Sign up form -->
                <div class="signup-content">
                    <div class="signup-form">
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <h2>Register</h2>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                             <div class="form-group">
                                <input asp-for="Input.Name" aria-required="true" placeholder="Name"/>
                                <label asp-for="Input.Name" ><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Email" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email"><i class="zmdi zmdi-email"></i></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/uploads/register.jpg" alt="sign up image"></figure>
                        <a asp-area="Identity" asp-page="/Account/Login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
    <!-- JS -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}